In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from textblob import TextBlob
import seaborn as sns
import json
#from wordcloud import WordCloud, STOPWORDS
%matplotlib inline

In [4]:
df=pd.read_excel('EDA.xlsx')

In [10]:
df.head()

,Unnamed: 0,User_ID,Description,Is_Response,word_count,call_duration_secs,char_count,avg_word,stopwords,hastags,numerics,upper
0,0,id10326,kind clean strong smell dogs generally average...,Room and Food,46,15.333333,248,4.413043,23,0,0,1
1,1,id10327,stayed crown plaza april april friendly attent...,Room and Food,208,69.333333,1077,4.182692,82,6,0,8
2,2,id10328,booked hotwire lowest price could find got fro...,Price,229,76.333333,1327,4.724138,91,0,0,9
3,3,id10329,stayed husband sons way alaska cruise loved ex...,Hotel Management,93,31.000000,502,4.408602,36,0,0,0
4,4,id10330,girlfriends stayed celebrate th birthdays plan...,service,294,98.000000,1613,4.434343,127,8,0,7

In [13]:
def detect_polarity(cust):
    return TextBlob(cust).sentiment.polarity
df['polarity'] = df.Description.apply(detect_polarity)

In [15]:
df.head(2)

,Unnamed: 0,User_ID,Description,Is_Response,word_count,call_duration_secs,char_count,avg_word,stopwords,hastags,numerics,upper,polarity
0,0,id10326,kind clean strong smell dogs generally average...,Room and Food,46,15.333333,248,4.413043,23,0,0,1,0.366964
1,1,id10327,stayed crown plaza april april friendly attent...,Room and Food,208,69.333333,1077,4.182692,82,6,0,8,0.086634

In [19]:
df['polarity'][df.polarity==0]= 0
df['polarity'][df.polarity > 0]= 1
df['polarity'][df.polarity < 0]= -1

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
df.head(2)

,Unnamed: 0,User_ID,Description,Is_Response,word_count,call_duration_secs,char_count,avg_word,stopwords,hastags,numerics,upper,polarity
0,0,id10326,kind clean strong smell dogs generally average...,Room and Food,46,15.333333,248,4.413043,23,0,0,1,1.0
1,1,id10327,stayed crown plaza april april friendly attent...,Room and Food,208,69.333333,1077,4.182692,82,6,0,8,1.0

Freq_words

In [53]:
freq = pd.Series(' '.join(df['Description']).split()).value_counts()[:10]

In [54]:
freq

nice         18300
stayed       16695
clean        15843
us           15831
night        15552
service      14688
breakfast    13771
get          13233
time         12303
also         11912
dtype: int64

In [55]:
freq = list(freq.index)

In [56]:
df['freq_words'] = df['Description'].apply(lambda x: " ".join(x for x in x.split() if x in freq))
df['freq_words'].head()

0                                      clean breakfast
1                                               stayed
2                   us get also also breakfast service
3                               stayed service service
4    stayed us stayed us service clean get service ...
Name: freq_words, dtype: object

In [57]:
df.head(2)

,Unnamed: 0,User_ID,Description,Is_Response,word_count,call_duration_secs,char_count,avg_word,stopwords,hastags,numerics,upper,polarity,freq_words
0,0,id10326,kind clean strong smell dogs generally average...,Room and Food,46,15.333333,248,4.413043,23,0,0,1,1.0,clean breakfast
1,1,id10327,stayed crown plaza april april friendly attent...,Room and Food,208,69.333333,1077,4.182692,82,6,0,8,1.0,stayed

In [128]:
df.to_excel('MY_EDA.xlsx')

In [71]:
df.Is_Response.unique()

array(['Room and Food', 'Price', 'Hotel Management', 'service',
       'Appriciation', 'Criticism'], dtype=object)

In [99]:
rf=df.query('Is_Response == "Room and Food"') 
rf_c1=pd.Series(' '.join(rf['Description']).split())
rf_c1=pd.DataFrame(rf_c1)
rf_c1.rename(columns = {0 :'word'}, inplace = True)
rf_c1.to_excel('rfc1.xlsx')

In [100]:
rf_c=pd.Series(' '.join(rf['Description']).split()).value_counts()[:]
rfi = list(rf_c.index)
rfv=list(rf_c)
rf_i= pd.DataFrame(rfi) 
rf_i.rename(columns = {0 :'word'}, inplace = True)
rf_v=pd.DataFrame(rfv)
rf_v.rename(columns = {0 :'count'}, inplace = True)
rfc=pd.concat([rf_i,rf_v],axis=1)

In [113]:
rfc.to_excel('room&foodCloud.xlsx')

In [126]:
rf=df.query('Is_Response == "Price"')
rf_c=pd.Series(' '.join(rf['Description']).split()).value_counts()[:]
rfi = list(rf_c.index)
rfv=list(rf_c)
rf_i= pd.DataFrame(rfi) 
rf_i.rename(columns = {0 :'word'}, inplace = True)
rf_v=pd.DataFrame(rfv)
rf_v.rename(columns = {0 :'count'}, inplace = True)
rfc=pd.concat([rf_i,rf_v],axis=1)
rfc.to_excel('price_cloud.xlsx')

In [127]:
rf=df.query('Is_Response == "Hotel Management"')
rf_c=pd.Series(' '.join(rf['Description']).split()).value_counts()[:]
rfi = list(rf_c.index)
rfv=list(rf_c)
rf_i= pd.DataFrame(rfi) 
rf_i.rename(columns = {0 :'word'}, inplace = True)
rf_v=pd.DataFrame(rfv)
rf_v.rename(columns = {0 :'count'}, inplace = True)
rfc=pd.concat([rf_i,rf_v],axis=1)
rfc.to_excel('Hotel_Management_Cloud.xlsx')

In [129]:
rf=df.query('Is_Response == "service"')
rf_c=pd.Series(' '.join(rf['Description']).split()).value_counts()[:]
rfi = list(rf_c.index)
rfv=list(rf_c)
rf_i= pd.DataFrame(rfi) 
rf_i.rename(columns = {0 :'word'}, inplace = True)
rf_v=pd.DataFrame(rfv)
rf_v.rename(columns = {0 :'count'}, inplace = True)
rfc=pd.concat([rf_i,rf_v],axis=1)
rfc.to_excel('service_Cloud.xlsx')

In [130]:
rf=df.query('Is_Response == "Appriciation"')
rf_c=pd.Series(' '.join(rf['Description']).split()).value_counts()[:]
rfi = list(rf_c.index)
rfv=list(rf_c)
rf_i= pd.DataFrame(rfi) 
rf_i.rename(columns = {0 :'word'}, inplace = True)
rf_v=pd.DataFrame(rfv)
rf_v.rename(columns = {0 :'count'}, inplace = True)
rfc=pd.concat([rf_i,rf_v],axis=1)
rfc.to_excel('Appriciation_Cloud.xlsx')

In [131]:
rf=df.query('Is_Response == "Criticism"')
rf_c=pd.Series(' '.join(rf['Description']).split()).value_counts()[:]
rfi = list(rf_c.index)
rfv=list(rf_c)
rf_i= pd.DataFrame(rfi) 
rf_i.rename(columns = {0 :'word'}, inplace = True)
rf_v=pd.DataFrame(rfv)
rf_v.rename(columns = {0 :'count'}, inplace = True)
rfc=pd.concat([rf_i,rf_v],axis=1)
rfc.to_excel('Criticism_Cloud.xlsx')

In [132]:
rf_c=pd.Series(' '.join(df['Description']).split()).value_counts()[:]
rfi = list(rf_c.index)
rfv=list(rf_c)
rf_i= pd.DataFrame(rfi) 
rf_i.rename(columns = {0 :'word'}, inplace = True)
rf_v=pd.DataFrame(rfv)
rf_v.rename(columns = {0 :'count'}, inplace = True)
rfc=pd.concat([rf_i,rf_v],axis=1)
rfc.to_excel('whole_Cloud.xlsx')